<div style="text-align: center;margin-top:2rem;">
    <span>
        <h2 style="font-size: 25px;">Items Verification</h2>
    </span>
</div>

<!-- <div>                             
<button mat-raised-button color="primary" type="submit" (click)="submitData()">Submit</button>                         
</div> -->

<div class="container">
    <div *ngIf="ListForm">
        <div class="row mt-5">
            <div class="col-md-11" >
                    <div class="">
                      <!-- <form [formGroup]="itemForm"> -->
                      <!-- <ng-container *ngFor="let itemFormGroups of itemFormGroups.controls; let i=index"> -->
                        <!-- <div [formGroupName]="i"> -->
                      <!-- <button class="submitbtn" mat-raised-button color="primary" type="submit" (click)="submitData(i)">Submit</button>     -->
                        <table class="lessons-table mat-elevation-z8" mat-table [dataSource]="dataSource">
                            <ng-container matColumnDef="SLNo.">
                              <th mat-header-cell *matHeaderCellDef width="3%">SLNo.</th>
                              <td mat-cell *matCellDef="let element;let i=index;">{{i+1}}</td>
                            </ng-container>

                            <ng-container matColumnDef="ItemID">
                                <th mat-header-cell *matHeaderCellDef width="3%" >ItemID</th>
                                <td mat-cell *matCellDef="let element">{{element?.id}}</td>
                            </ng-container>

                              <ng-container matColumnDef="Item Description" class="item">
                                <th mat-header-cell *matHeaderCellDef width="10%">Item Description</th>
                                <td mat-cell *matCellDef="let element">{{element?.item_desc}}</td>
                              </ng-container>

                              <ng-container matColumnDef="TotalQty">
                                <th mat-header-cell *matHeaderCellDef width="5%">TotalQty</th>
                                <td mat-cell *matCellDef="let element">{{element?.qty}}</td>
                              </ng-container>

                              <ng-container matColumnDef="PendingQty">
                                <th mat-header-cell *matHeaderCellDef width="5%">PendingQty</th>
                                <td mat-cell *matCellDef="let element">{{element?.qty}}</td>
                              </ng-container>
         
                              <ng-container matColumnDef="Verify">
                                <th mat-header-cell *matHeaderCellDef width="5%">Verify</th>
                                <td mat-cell *matCellDef="let element;let i=index">
                                <mat-checkbox [checked]="false" (click)="setCheckbox(i)"></mat-checkbox>
                                </td>
                              </ng-container>

                              <ng-container matColumnDef="Checked Qty">
                                <th mat-header-cell *matHeaderCellDef width="5%">Checked Qty</th>
                                <td mat-cell *matCellDef="let element;let i=index;">
                                    <input class="qty full-appearance" matInput placeholder="Qty" [(ngModel)]="checkedQty[i]"  ngModel required minlength="1"></td>
                              </ng-container>

                              <ng-container matColumnDef="Remarks">
                                <th mat-header-cell *matHeaderCellDef width="5%">Remarks</th>
                                <td mat-cell *matCellDef="let element;let i=index;">
                                    <textarea class="full-appearance" matInput placeholder="Enter Remarks" [(ngModel)]="remarks[i]"  ngModel required minlength="1"></textarea></td>
                              </ng-container>

                              <!-- <ng-container matColumnDef="Submit">
                                <th mat-header-cell *matHeaderCellDef >Submit</th>
                                <td mat-cell *matCellDef="let element"> 
                                <button mat-raised-button color="primary" type="submit" (click)="submitData(element,remarks[i])">Submit</button>
                                </td>
                              </ng-container> -->
                              
                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                            
                        </table>
                        <button class="submitbtn" mat-raised-button color="primary" type="submit" (click)="submitData()">Submit</button>    
                      <!-- </div> -->
                      <!-- </ng-container> -->
                      <!-- </form> -->
                    </div>
            </div>
        </div>
      </div>
</div>


