
<div class="container-fluid">
    <div class="mt-2">
        <mat-card>
            <div class="row">
                <div class="col-md-4 mt-2" style="margin-left: 8px;">
                    <span style="cursor: pointer;"><mat-icon *ngIf="isListView" (click)="isListView=false">reorder</mat-icon></span>
                    <span style="cursor: pointer;"><mat-icon *ngIf="!isListView" (click)="isListView=true">grid_view</mat-icon></span>
                </div>
                <div class="col-md-4 mt-2" style="text-align: center; margin-left: inherit;">
                    <span *ngIf="isListView"><b>PANEL WISE MATERIAL (GRID VIEW)</b></span>
                    <span *ngIf="!isListView"><b>PANEL WISE MATERIAL (LIST VIEW)</b></span>
                </div>
                <div class="col-md-4 mt-2" style="text-align: end;">
                    <span style="cursor: pointer;" *ngIf="expandbtn"><mat-icon *ngIf="!isListView"  (click)="openAllPanels()">unfold_more</mat-icon></span>
                    <span style="cursor: pointer;" *ngIf="!expandbtn"><mat-icon *ngIf="!isListView" (click)="closeAllPanels()">unfold_less</mat-icon></span>
                </div>
            </div>
        </mat-card>
    </div>

    <div class="mt-2" *ngFor="let card of list;let i = index">
        
        <div class="row" *ngIf="isListView">
            <div class="col-md-2 mb-2" style="text-align: center;" *ngFor="let list of card.panel">
                <mat-card style="cursor: pointer;" (click)="getFilterList(list.name, card.section)">{{list.name}}<br><span>({{list.data.length}})</span></mat-card>
            </div>
        </div>
        <div class="row" *ngIf="!isListView">
            <div class="col-md-12 mb-2" style="text-align: center;">
                <mat-accordion #accordion="matAccordion" [multi]="true">
                    <mat-expansion-panel *ngFor="let list of card.panel;let san=index">

                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <mat-icon (click)="generatePDF(list.name, card.section)">picture_as_pdf</mat-icon>
                                &nbsp;&nbsp;&nbsp;&nbsp;{{list.name}}<span>({{list.data.length}})</span>
                              
                                
                               
                            </mat-panel-title>
                            <span *ngIf="san != 2 " style="color: green;">Approved</span>
                            <span *ngIf="san == 2" style="color: red;">Pending</span>
                        </mat-expansion-panel-header>

                        <div class="row" mat-list-item >
                            <div class="col-md-1"><b>SL.NO.</b></div>
                            <div class="col-md-2"><b>ITEM DESC</b></div>
                            <div class="col-md-1"><b>MAKE</b></div>
                            <div class="col-md-1"><b>MODEL</b></div>
                            <div class="col-md-1"><b>QTY</b></div>
                            <div class="col-md-1"><b>REMARK</b></div>
                            <div class="col-md-1"><b>Status</b></div>
                            <div class="col-md-1"><b>Approved By</b></div>
                            <hr>
                        </div>

                        <div class="row" mat-list-item *ngFor="let data of list.data; let i=index">
                            <div class="col-md-1">{{i + 1}}</div>
                            <div class="col-md-2">{{data.item_desc == null ? '-' : data.item_desc}}</div>
                            <div class="col-md-1">{{data.make == null ? '-' : data.make}}</div>
                            <div class="col-md-1">{{data.model == null ? '-' : data.model}}</div>
                            <div class="col-md-1">{{data.qty == null ? '-' : data.qty}}</div>
                            <div class="col-md-1">{{data.remark == null ? '-' : data.remark}}</div>
                            <div class="col-md-1">Approved</div>
                            <div class="col-md-1">Senthil</div>
                            <hr>
                        </div>
                        <div class="row" mat-list-item >
                            <div class="col-md-12"><button class="form-control">Approve</button></div>
                           
                           
                        </div>
                    </mat-expansion-panel>
                </mat-accordion>
            </div>
        </div>
    </div>
</div>







