<div class="row">
    <div class="col-12">
      <h4 class=""><b>Upload POD Files / Invoice Scan Files</b></h4>
    </div>
</div>

<div class="row">
  <div class="col-12"> 
      <div class="card-box">
        <form  [formGroup]="form" enctype="multipart/form-data"  >

          <div class="row" >
              <div class="col-12" style="border: 1px solid whitesmoke;background: #d0dedf26;">
                <div formArrayName="da_files">
                  <div class="row"   *ngFor="let daFile of daFiles().controls; let i=index" [formGroupName]="i" >
                    
                     
                        <div class="col-5">
                          <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>File type ({{i+1}})</mat-label>
                            
                             <mat-select formControlName="file_type" >
                              <mat-option value="">Select type</mat-option>
                              <mat-option *ngFor="let fileType of fileTypes" [value]="fileType.fileTypeId">{{fileType.fileType}}</mat-option>
                              
                             </mat-select>
                            <mat-hint>File Type!</mat-hint>
                          </mat-form-field>
                        
                        </div>
                        <div class="col-5">
                           <input type="file" #filePicker (change)="onSelectFiles($event,i)" multiple>

                        </div>
                        
                          <div class="col-2 display_incenter" >
                            <mat-icon *ngIf="daFiles().length != 1" (click)="removeDaFiles(i)" style="color: red;">delete_forever</mat-icon>
                            <mat-icon *ngIf="daFiles().length == (i+1)" (click)="addDaFiles()" style="color: blue;" >add_box</mat-icon>
                          </div>  
                    </div>
                </div>
              </div>
              <div class="col-6" style="display: grid;align-items: end;">
                <mat-grid-list style="text-align:center" cols="2" rowHeight="4:1">
                  <!-- <button mat-raised-button color="success" class="mx-4" (click)="onSavePost()">Save</button> -->
                  <button mat-raised-button color="primary" [disabled]="!da_submit_button" (click)="onSubmitPost()" >Submit</button>
                  <button mat-raised-button color="warn" (click)="dialogClose()" style="margin-left:2rem;">Close</button>
                 
                </mat-grid-list>
              </div>
            </div>
  </form>
  </div>
  </div>
  </div>
