<div *ngIf="showdata;then showform;else showtable"></div>
<ng-template #showform>

    
    <style>
        /* Add styles to the form container */
    .form-container {
      max-width: 100%;
      padding: 10px;
      background-color: #a8c5da;
    }
    
    /* Full-width textarea */
    .form-container textarea {
      width: 100%;
     
      border: none;
      background: #f1f1f1;
      resize: none;
     /* min-height: 200px;*/
    }
    
    /* When the textarea gets focus, do something */
    .form-container textarea:focus {
      background-color: #ddd;
      outline: none;
    }
    
    /* Set a style for the submit/send button */
    .chat-form-btn {
        
     background-color: #4CAF50;
        color: white;
        /* padding: 16px 20px; */
        border: none;
        cursor: pointer;
        width: 30%;
        margin-bottom: 10px;
        opacity: 0.8;
    }
    
    /* Add a red background color to the cancel button */
    .form-container .cancel {
      background-color: red;
    }
    
    /* Add some hover effects to buttons */
    .form-container .btn:hover, .open-button:hover {
      opacity: 1;
    }
    
    
    
    
    
    
    @media screen and (max-width: 767px){
      .progtrckr{ width: 14%;font-size: small;display: inline; }
    
       .chat-popup {
            width: 75%;
            height: 75%;
          }
          .chat_head{
            display: none;
          }
          .open-button {
            font-size: 50px !important;
          }
    }
    
        
        ol.progtrckr {
        margin: 0;
        padding: 0;
        list-style-type :none;
    }
    
    ol.progtrckr li {
        display: inline-block;
        text-align: center;
        line-height: 3.5em;
    }
    
    
    
    ol.progtrckr li.progtrckr-done {
        color: black;
        border-bottom: 4px solid yellowgreen;
    }
    ol.progtrckr li.progtrckr-todo {
        color: silver; 
        border-bottom: 4px solid silver;
    }
    
    ol.progtrckr li:after {
        content: "\00a0\00a0";
    }
    ol.progtrckr li:before {
        position: relative;
        bottom: -2.5em;
        float: left;
        left: 50%;
        line-height: 1em;
    }
    ol.progtrckr li.progtrckr-done:before {
        content: "\2713";
        color: white;
        background-color: yellowgreen;
        height: 1.2em;
        width: 1.2em;
        line-height: 1.2em;
        border: none;
        border-radius: 1.2em;
    }
    ol.progtrckr li.progtrckr-todo:before {
        content: "\039F";
        color: silver;
        background-color: white;
        font-size: 1.2em;
        bottom: -1.2em;
    }
    
    
    </style>

      <div class="wrapper" >
        <div class="container-fluid">
            <div class="card-box example-small-box-details" style="position: fixed;width: 100%;z-index: 100;margin:0px ">
                <div class="row">
                    <div class="col-1">  
                        <label>DA No</label>
                       
                    </div>
                    <div class="col-2">  
                        <span>:&nbsp;{{viewRecords.records.jobcode_da_no}}</span>
                       
                    </div>
                    <div class="col-1">  
                        <label>Date</label>
                       
                    </div>
                    <div class="col-2">  
                        <span>:&nbsp;{{viewRecords.records.da_date | date}}</span>
                       
                    </div>
                    <div class="col-1">  
                        <label>SO no</label>
                       
                    </div>
                    <div class="col-1">  
                        <span>:&nbsp;{{viewRecords.records.so_no}}</span>
                       
                    </div>
                    <div class="col-1">  
                        <label>PO no</label>
                       
                    </div>
                    <div class="col-2">  
                        <span>:&nbsp;{{viewRecords.records.po_no}}</span>
                       
                    </div>
                    </div>
                    <div class="row">
                        <div class="col-1">  
                            <label>Job Code</label>
                           
                        </div>
                        <div class="col-2">  
                            <span>:&nbsp;{{viewRecords.records.job_code}}</span>
                           
                        </div>
                        <div class="col-1">  
                            <label>Job Name</label>
                           
                        </div>
                        <div class="col-2">  
                            <span>:&nbsp;{{viewRecords.records.job_name}}</span>
                           
                        </div>
                        <div class="col-1">  
                            <label>Customer</label>
                           
                        </div>
                        <div class="col-5">  
                            <span>:&nbsp;</span>
                           
                        </div>
              
                    </div>
              </div>
      
          <div class="row" style="padding-top: 112px;">
              <div class="col-6">
                  <div class="card-box taskboard-box">
                      <!-- <h4 class="header-title m-t-0  text-primary"> DA : <a [routerLink]="'/material/DA-details'" >21DP01-GT1-PDA-001(21DP01) </a>
                     </h4> -->
                      <button class="form-control success"(click)="daNavigation(viewRecords.records.da_id,'material/DA-details')"  >View Full Details About DA</button> 
                  
                      <!-- <button id="request_threads_show" (click)="showmore()">View More</button> -->
                       <!-- <div class="todo-tasklist-item-text"  >
                                   
                          <ol class="progtrckr" data-progtrckr-steps="9">
                                
                             
                                   <li class="  progtrckr-done">Sandeep</li>  
                                   <li class="  progtrckr-todo">Senthil</li>  
                                                    
                          
                          </ol>
                  </div> -->
      
                      <div class="todo-tasklist" >
    
    
                              <div *ngFor="let threaddata of threadList" class="todo-tasklist-item todo-tasklist-item-border-red" style="display: table;">
                                  
                                      <!-- <img class="todo-userpic pull-left" src="" width="27px" height="27px"> -->
                                      <mat-icon>person</mat-icon>
                                 
                                  <div class="todo-tasklist-item-title"  style="display: grid;">
                                      <a href="javascript:;" class="header-title text-primary">{{threaddata.user}}</a>
                                  </div>
                                   
                                  <div class="todo-tasklist-item-text"  style="display: grid;">
                                    {{threaddata.remarks}}
                                  </div>
                                 
                                  <div class="todo-tasklist-item-text" >
                                     
                                  
                             
                                   
                                           
                                      
                                  
                                  
                                  </div>
                                  
                                  <div class="todo-tasklist-controls pull-left"  style="display: grid;">
                                      <span class="todo-tasklist-date"><mat-icon style="font-size: 14px;">calendar_today</mat-icon>{{threaddata.created_at | date}}</span>
                                      <span class="badge badge-pill badge-success">{{threaddata.status}}</span>
                                  </div>
                              </div>
                              <!-- <div class="todo-tasklist-item todo-tasklist-item-border-red" style="display: table;">
                                  
                                <img class="todo-userpic pull-left" src="" width="27px" height="27px">
                           
                            <div class="todo-tasklist-item-title"  style="display: grid;">
                                <a href="javascript:;" class="header-title text-primary">Senthil</a>
                            </div>
                             
                            <div class="todo-tasklist-item-text"  style="display: grid;">
                                Dispatch descri
                            </div>
                           
                            <div class="todo-tasklist-item-text" >
                               
                            
                       
                                     
                                
                            
                            
                            </div>
                            
                            <div class="todo-tasklist-controls pull-left"  style="display: grid;">
                                <span class="todo-tasklist-date"><i class="fa fa-calendar"></i>08-02-2022 10:00 AM</span>
                                <span class="badge badge-pill badge-success">Approved</span>
                            </div>
                        </div> -->
                               <div class="todo-tasklist-item todo-tasklist-item-border-red" style="display: table;">
      
      
      
      
                               </div>
      
      
                             
      
      
                        
      
                      </div>
          
        </div>
      </div>
      <div class="col-6">
          <form  [formGroup]="form" >
            <div class="card-box taskboard-box"  *ngIf="!viewRecords.records.packing_approver_flag" >
                <h4 class="header-title m-t-0 text-warning">Update Status</h4>
                <div class="row" >
                    <div class=" col-6" >
                        
                        <mat-form-field appearance="fill"   >
                            <mat-label>Status</mat-label>
                            <mat-select formControlName="status">
                              <!-- <mat-option *ngFor="let subskill of dynamicList.dispatch.subskills" >
                                {{subskill.name}}
                              </mat-option> -->
                              <mat-option value="approved" >
                                Approve
                              </mat-option>
                              <mat-option value="modification" >
                                  Send for modification
                                </mat-option>
                                <mat-option value="hold" >
                                  Hold
                                </mat-option>
                             
                              <mat-option value="reject" >
                                Reject
                               </mat-option>
                            
                            </mat-select>
                          </mat-form-field>
    
                                
                        
                      
                    </div>
                    <div class="col-6">
                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Assign To</mat-label>
                        <mat-select formControlName="assign_to" multiple> 
                          <mat-option>-select-</mat-option>
                          <mat-option *ngFor="let subskill of userList" [value]="subskill.id" >
                               {{subskill.employee_name }}
                          </mat-option>                           
                        </mat-select>                             
                      </mat-form-field>
                    </div>
                  </div>
                 
    
                    
                     
                
                   
                   
                         
                   
                  <div class="row">
                    <div class="form-group col-6" id="desc" >
                      <mat-form-field class="example-full-width"  appearance="fill" >
                        <mat-label>Discription</mat-label>
                        <textarea matInput 
                               placeholder="" formControlName="remarks"></textarea>
                        <mat-hint>Discription</mat-hint>
                        <!-- <mat-error *ngIf="f.to.errors?.required">
                          to is <strong>required</strong> -->
                        <!-- </mat-error> -->
                      </mat-form-field>
                  </div>
                  <div class="col-6">
                    <mat-form-field class="example-full-width" appearance="fill">
                      <mat-label> Merge DA </mat-label>                            
                      <mat-select formControlName="merge_da_id"  > 
                        <mat-option>-select-</mat-option>                                                         

                          <mat-option *ngFor="let subskill of da_list" [value]="subskill.da_id" >
                               {{subskill.jobcode_da_no }}
                          </mat-option>  
                      </mat-select>
                      <mat-hint>Merge current DA with selected DA</mat-hint>
                     
                  </mat-form-field>
                    </div>
                    
                </div>
                <br>
               
                 <div class="text-center">
                  <button mat-raised-button color="primary"(click)="onSubmitPost()" >Submit</button>
                </div>
              
               
                
            </div>
          
            <div class="row" >
              <div class=" col-6">
                <div class="card-box taskboard-box" *ngIf="viewRecords.records.packing_approver_flag">
                  <h4 class="header-title m-t-0 text-warning">Assign/Merge DA </h4>
                  <div class="row" >
                      <div class=" col-12">
                        <mat-form-field class="example-full-width" appearance="fill">
                          <mat-label>Assign To</mat-label>
                          <mat-select formControlName="assign_to" multiple> 
                           
                            <mat-option>-select-</mat-option>
                            <mat-option *ngFor="let subskill of search_userList" [value]="subskill.id" >
                                 {{subskill.employee_name }}
                            </mat-option>                           
                          </mat-select>                             
                        </mat-form-field>
                      </div>

                    </div>
                  
                    <div class="row">
                      <div class="form-group col-12" id="desc" >
                        <mat-form-field class="example-full-width" appearance="fill">
                          <mat-label> Merge DA </mat-label>                            
                          <mat-select formControlName="merge_da_id"  > 
                            <mat-option>-select-</mat-option>                                                         
    
                              <mat-option *ngFor="let subskill of da_list" [value]="subskill.da_id" >
                                   {{subskill.jobcode_da_no }}
                              </mat-option>  
                          </mat-select>
                          <mat-hint>Merge current DA with selected DA</mat-hint>
                         
                      </mat-form-field>
                    </div>
                    </div>
                    <div class="text-center">
                      <button mat-raised-button color="primary"(click)="onSubmitPost_assign()" >Assign/Merge DA </button>
                    </div>

                  </div>
                </div>
               
                  <div class=" col-6">
                    <div class="card-box taskboard-box" *ngIf="viewRecords.records.packing_approver_flag">
                      <h4 class="header-title m-t-0 text-warning">Update DA Status</h4>
                      <div class="row" >
                          <div class=" col-12">
                            <mat-form-field appearance="fill"   >
                              <mat-label>Status</mat-label>
                              <mat-select formControlName="da_status">    
                                <mat-option value="Packing Initiated" >Packing Initiated</mat-option>                               
                                <mat-option value="Packed" >Packed</mat-option>                                                               
                                <mat-option value="Loading Completed" > Loading Completed</mat-option>                             
                                <mat-option value="Dispatched" > Dispatched </mat-option>
                                <mat-option value="Delivered" > Delivered</mat-option>                             
                                <mat-option value="Delivered" >Delivered</mat-option>
                              </mat-select>
                            </mat-form-field>
                          </div>
    
                        </div>
                      
                        <div class="row">
                          <div class="form-group col-12" id="desc" >
                            <mat-form-field class="example-full-width"  appearance="fill" >
                              <mat-label>Discription</mat-label>
                              <textarea matInput 
                                    placeholder="" formControlName="da_remarks"></textarea>
                              <mat-hint>Discription</mat-hint>
                        
                            </mat-form-field>
                        </div>
                        </div>
                        <div class="text-center">
                          <button mat-raised-button color="primary"(click)="update_da_status()" >Update DA status</button>
                        </div>
    
                      </div>
                    </div>
                    </div>
        </form>
        
    </div>
    
      
  



  
    
    
      </div>
      </div>
      </div>
</ng-template>



<ng-template #showtable>

      </ng-template>
  