<div class="container">
    <div style="text-align: center;margin-top:2rem;">
        <span>
            <h2 style="font-size: 25px;">Non-Billable Form</h2>
        </span>
    </div>

    <div class="row">
        <div class="col-md-6">
            <mat-form-field appearance="fill" class="example-full-width">
                <mat-label>SAP DA No</mat-label>
                <input matInput placeholder="SAP DA No" [(ngModel)]="SAPDANo">
                <mat-hint style="color:black"></mat-hint>
            </mat-form-field>
        </div>
        <div class="col-md-6">
            <mat-form-field appearance="fill" class="example-full-width">
                <mat-label>Customer PO reference no</mat-label>
                <textarea matInput placeholder="Customer PO reference no" [(ngModel)]="CustomerPoRefNo"></textarea>
                <mat-hint style="color:black"></mat-hint>
            </mat-form-field>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <mat-form-field appearance="fill" class="example-full-width">
                <mat-label>Item Description</mat-label>
                <textarea matInput placeholder="Item Description" [(ngModel)]="ItemDescription"></textarea>
                <mat-hint style="color:black"></mat-hint>
            </mat-form-field>
        </div>
        <div class="col-md-6">
            <mat-form-field appearance="fill" class="example-full-width">
                <mat-label>Model No</mat-label>
                <input matInput placeholder="Model No" [(ngModel)]="ModelNo">
                <mat-hint style="color:black"></mat-hint>
            </mat-form-field>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <mat-form-field appearance="fill" class="example-full-width">
                <mat-label>Quantity</mat-label>
                <input matInput placeholder="Total Quantity" [(ngModel)]="TotalQuantity">
                <mat-hint style="color:black"></mat-hint>
            </mat-form-field>
        </div>
        <div class="col-md-6">
            <mat-form-field appearance="fill" class="example-full-width">
                <mat-label>UOM</mat-label>
                <input matInput placeholder="UOM" [(ngModel)]="UOM">
                <mat-hint style="color:black"></mat-hint>
            </mat-form-field>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <mat-form-field appearance="fill" class="example-full-width">
                <mat-label>Unit Price</mat-label>
                <input matInput placeholder="Unit Price" [(ngModel)]="UnitPrice">
                <mat-hint style="color:black"></mat-hint>
            </mat-form-field>
        </div>
        <div class="col-md-6">
            <mat-form-field appearance="fill" class="example-full-width">
                <mat-label>Under W/NW</mat-label>
                <input matInput placeholder="Under W/NW" [(ngModel)]="UnderWorNW">
                <mat-hint style="color:black"></mat-hint>
            </mat-form-field>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <mat-form-field appearance="fill" class="example-full-width">
                <mat-label>SGST %</mat-label>
                <input matInput placeholder="SGST %" [(ngModel)]="SGST">
                <mat-hint style="color:black"></mat-hint>
            </mat-form-field>
        </div>
        <div class="col-md-6">
            <mat-form-field appearance="fill" class="example-full-width">
                <mat-label>CGST %</mat-label>
                <input matInput placeholder="CGST %" [(ngModel)]="CGST">
                <mat-hint style="color:black"></mat-hint>
            </mat-form-field>
        </div>
        <!-- <div class="col-md-4">
            <label id="example-radio-group-label"><b>BillType:</b> </label>
              <br><br>
              <mat-radio-group aria-label="Select an option">
                <mat-radio-button (change)="BillSelect('b')" name="billtype" value="1">Billable</mat-radio-button>
                <mat-radio-button (change)="BillSelect('nb')" name="billtype" class="example-radio-button" value="2">Non-Billable</mat-radio-button>
              </mat-radio-group>
            </div> -->
    </div>

    <div class="row">
        <div class="col-md-6">
            <mat-form-field appearance="fill" class="example-full-width">
                <mat-label>IGST %</mat-label>
                <input matInput placeholder="IGST %" [(ngModel)]="IGST">
                <mat-hint style="color:black"></mat-hint>
            </mat-form-field>
        </div>
        
        <div class="col-md-6">
            <mat-form-field appearance="fill" class="example-full-width">
                <mat-label>Reason for supplies under Non-Warranty</mat-label>
                <textarea matInput placeholder="Reason for supplies under Non-Warranty" [(ngModel)]="ReasonForSuppliesNW"></textarea>
                <mat-hint style="color:black"></mat-hint>
            </mat-form-field>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <mat-form-field appearance="fill" class="example-full-width">
                <mat-label>Remarks</mat-label>
                <textarea matInput placeholder="Remarks" [(ngModel)]="NonBillableRemarks"></textarea>
                <mat-hint style="color:black"></mat-hint>
            </mat-form-field>
        </div>
        <div class="col-md-6" mat-dailog-action>
            <button mat-raised-button color="warn" [mat-dialog-close]="true">Close</button>&nbsp;&nbsp;&nbsp;
            <button mat-raised-button color="primary" type="submit" (click)="createList()" >{{actionBtn}}</button>
        </div>
    </div>
    
</div>
