<div class="row">
    <div class="col-12">
          <table  class="table table-bordered table-striped table-hover" datatable>
                <thead>
                    <tr>
                        <th style="width: 30px;">Sl.no</th>
                        <th style="width: 130px;">DA no</th>
                        <th style="width: 130px;">From</th>
                        <th style="width: 130px;">To</th>
                        <th style="width: 130px;">Job Code</th>
                        <th  style="width: 130px;" >Job Name</th>
                        <th  style="width: 130px;" >DA Date</th>
                        <th style="width: 130px;">So no</th>
                        <th style="width: 130px;">Po No</th>
                        <th  style="width: 130px;">Type</th>
                        <th style="width: 130px;">Customer Name</th>
                        <th style="width: 130px;">Status</th>
                        <!-- <th style="width: 130px;">View</th> -->
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let subskill of passed_da_result_list;let i=index">
                        <td >{{i+1}}</td>
                        <td style="color:blue;" (click)="daNavigation(subskill.da_id,'material/DA-details')">{{subskill.jobcode_da_no}}</td>
                        <td><span *ngIf="subskill.da_from != 0">{{subskill.da_from_value}}</span></td>
                        <td>{{subskill.da_to}}</td>
                        <td>{{subskill.job_code}}</td>
                        <td>{{subskill.job_name}}</td>
                        <td>{{subskill.da_date | date : 'dd/MM/yyyy'}}</td>
                        <td>{{subskill.so_no}}</td>
                        <td>{{subskill.po_no}}</td>
                        <td>{{subskill.bill_type}}</td>
                        <td>{{subskill.customer_name}}</td>
                        <td>{{subskill.status}}</td>
                        <!-- <td>
                             <mat-icon (click)="daNavigation(subskill.da_id,'material/DA-details')">visibility</mat-icon>
                        </td> -->
                    </tr> 
                </tbody>
            </table>
            <div class="col-12" align="center">  
                <button color="warn" mat-raised-button mat-dialog-close style="margin-left:20px;" (click)="dialogClose()">Close</button>
            </div> 
    </div>
</div>