<div class="row">
  <div class="col-6">
   
  </div>
  <div class="col-6">
    <!-- <button matBadge="8" mat-raised-button matBadgeColor="accent">asdas<mat-icon>notification_important</mat-icon></button> -->
  </div>
</div>



<span class="menu-spacer"></span>
<!-- <div>
  <a mat-button [routerLink]="'/material'"> Material </a>
  <a mat-button [routerLink]="'/packaging'"> Packaging </a>
  <a mat-button [routerLink]="'/loading'"> Loading </a>
  <a mat-button [routerLink]="'/tracking'"> Tracking </a>
  <a mat-button [routerLink]="'/reports'"> Reports </a>
</div> -->
<h1></h1>